html{
    font-family: helvetica;
    background-color: #850000;
}

.container{
    background-color: rgb(0, 0, 0);
    max-width: 1000px;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    color: white;
}
h1{
    color: #cb0000;
    background-color: white;
    border-radius: 15px;
}

.featured-image figcaption{
    color: #737373;
}

.main-paragraph{
    color: #737373;
}

.bold{
    font-weight: bold;
    color: #cb0000;
}

    /* header */
.header{
    text-align: center;
}

.main-title{
    font-size: 40px;
}

.main-paragraph{
    font-style: italic;
}

.featured-image{
    text-align: center;
    margin-top: 30px;
}

    /* biography */
.biography-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #cb0000;
    border-bottom: 1px dashed #cb0000;
}

    /* quotes */
.quotes-container{
    background-color:#cb0000;
    padding: 30px;
    opacity: 0.8;
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;

}

.quotes-container p{
    font-style: italic;
    text-align: right;
}

    /* curiosities */
.curiosities-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #cb0000;
    border-bottom: 1px dashed #cb0000;
}
h2{
    color: #737373;
    font-size: 25px;
}

.curiosities-container li{
    height: 30px;
}

    /* img bold */
.img-bold{
    font-weight: bold;
    text-align: center;
}
figcaption{
    color: #737373;
    font-size: 10px;
}

a{
    color: #cb0000;
}
